.container-menu {
    width: 800px;
    height: 100px;
    margin: 10px 10px 400px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a1e29;
    box-shadow: 0 3px 13px 1px darkslategrey;
}
.img-medals {
    width: 80px;
    height: 80px;
    text-align: right;
    align-items: right;
    justify-content: right;
    margin-right: 50px;
}
.img-score {
    width: 60px;
    height: 60px;
    text-align: left;
    align-items: left;
    justify-content: left;
    margin-left: 450px;
}
.name-project {
    color: #01c38e;
    font-weight: bold;
    font-size: 40px;
}
.link-project {
    text-decoration: none;
}